<h1>Create a new space</h1>

<%= simple_form_for @space do |f| %>
  <%= f.input :category, collection: ["Music recording studio", "Music rehearsal room", "Dance studio", "General rehearsal space", "Artist studio"] %>
  <%= f.input :title %>
  <%= f.input :location %>
  <%= f.input :capacity %>
  <%= f.input :description %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit :submit %>
<% end %>

<br>

<%= link_to "Cancel", spaces_path %>
