<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <% if @space.photos.length == 0 %>
      <div class="carousel-item active">
        <%= image_tag 'placeholder.jpg', class: "d-block w-100", alt: "recording studio" %>
      </div>
    <% else %>
      <% @space.photos.each_with_index do |photo, index| %>
        <% if index == 0 %>
          <div class="carousel-item active">
            <%= cl_image_tag photo.key, class: "d-block w-100", crop: :fill %>
          </div>
        <% else %>
          <div class="carousel-item">
            <%= cl_image_tag photo.key, class: "d-block w-100", crop: :fill %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<% if current_user == @space.owner %>
  <%= link_to "Delete", space_path(@space), data: { confirm: 'Are you sure?' }, method: :delete %> | <%= link_to "Edit", edit_space_path(@space) %>
<% end %>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-xs-12 col-md-8 col-lg-8">
      <h3><%= @space.title %></h3>
      <p><strong>Location:</strong> <%= @space.location %></p>
      <p><strong>capacity:</strong> <%= @space.capacity %></p>
      <p><strong>Description:</strong> <%= @space.description %></p>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4">
      <h3>Book <%= @space.title %></h3>
      <%= simple_form_for [@space, @booking], method: :get, url: confirmation_space_booking_path([@space, @booking]) do |f| %>
      <%= f.input :date %>
      <%= f.input :time %>
      <%= f.submit :Book, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
