<!DOCTYPE html>
<html>
  <head>
    <title>Atelierbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<link href="https://fonts.googleapis.com/css?family=Simonetta|Spartan:400,600&display=swap" rel="stylesheet">    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if @show_navbar == true %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <p class="notice"><%= notice %></p>
    <%= yield %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
